*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8debc7;    
}

h1{
    text-align: center;  
    margin-bottom: 2em;  
}

ul{    
    text-align: center;
    list-style: inside;
}

li::marker{
    font-size: 2em;
    line-height: 0.2em;    
}

li{
    list-style-image: url(./img/Egg-li-icon.png);    
    margin-bottom: 1em;
    padding: 0.5em;    
}

.recipe-card{    
    background-color: #f5c496;
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 25px;
    border: 2px solid #994a37;
    box-shadow: 10px 10px 10px #994a37;
}